<h1>Editing DNS admin "<%= @dnsadmin.name %>"</h1>
 
<%= link_to 'Back', dns_admins_path, :id => "EditBack" %>
 
<% if defined? notice and !notice.nil? %> 
<div class="notice <%= (defined? notice_class) ? notice_class : "info" %>"><%= notice %></div>
<% end %>
 
<div id="EditAdmin" class="ui-round ui-shadow">
	<%= render 'form' %>
</div>